!!!
%html
  %head
    = page_title_tag
    = csrf_meta_tags
    = render 'metas'
    = render 'favicon'
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true

    %link{href: Settings.application.name, rel: "copyright"}/
    %link{href: Settings.application.name, rel: "author"}/

  %body
    %header.navbar.navbar-default.navbar-static-top{role: "navigation"}
      .container.container-center
        .navbar-header
          = link_to Settings.application.name, root_url, class: 'navbar-brand'

        %ul.nav.navbar-nav.pull-right
          - if signed_in?
            %li= link_to th(:application), client_root_url
            %li= link_to th(:sign_out), sign_out_url, method: :delete
          - else
            %li= link_to th(:sign_in), sign_in_url

    = render 'container'
    = render 'footer'
