%h2 Sign Up
= simple_form_for @company, url: sign_up_url, html: { role: :form } do |f|
  = f.input :name, placeholder: 'Company name'
  = f.input :subdomain, placeholder: 'Company subdomain'

  = f.fields_for :users do |fu|
    = fu.input :email, placeholder: 'Email'
    = fu.input :password, placeholder: 'Password'
    = fu.input :password_confirmation, placeholder: 'Password Confirmtaion'

  = f.submit th('#sign_up'), class: 'btn btn-primary'
  = link_to th('#sign_in'), sign_in_path, class: 'btn btn-link pull-right'
