!!!
%html
  %head
    = page_title_tag
    = csrf_meta_tags
    = render 'metas'
    = render 'favicon'
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true

    %link{href: Settings.application.name, rel: "copyright"}/
    %link{href: Settings.application.name, rel: "author"}/

  %body
    %header.navbar.navbar-inverse.navbar-static-top{role: "navigation"}
      .container.container-center
        %button.navbar-toggle{"data-target" => "#main-menu", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        .navbar-header
          = link_to "Admin #{Settings.application.name}", root_url, class: 'navbar-brand'

        %nav#main-menu.navbar-collapse.collapse
          %ul.nav.navbar-nav
            = link_to_menu :companies, tv('menu', scope: :companies), companies_url, prefix: icon_tag(Company)

    = render 'container'
    = render 'footer'
