%footer.navbar.navbar-default.navbar-static-bottom{role: "navigation"}
  .container-fluid
    .container.container-center
      .navbar-text= t 'copyright.html', scope: [:layout], year: Date.current.year, link: link_to(Settings.application.name, public_root_url)

      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to Settings.links.twitter, target: '_blank' do
            = t 'twitter_link.html', scope: [:layout], icon: icon_tag(:twitter)
        %li
          =link_to Settings.links.facebook, target: '_blank' do
            = t 'facebook_link.html', scope: [:layout], icon: icon_tag(:facebook)
        %li
          = link_to root_url, target: '_blank' do
            = t 'privacy_link.html', scope: [:layout]
        %li
          = link_to root_url, target: '_blank' do
            = t 'terms_link.html', scope: [:layout]
        %li
          = link_to root_url, target: '_blank' do
            = t 'support_link.html', scope: [:layout]
        %li
          = link_to root_url, target: '_blank' do
            = t 'blog_link.html', scope: [:layout]
